<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<!--定义输出到文件中-->
		<appender name="LuckdrawLog" type="log4net.Appender.RollingFileAppender">
			<!--定义文件存放位置-->
			<file value="log\\luckdraw\\luckdrawLog.log"/>
			<param name="AppendToFile" value="true"/>
			<param name="RollingStyle" value="Date"/>
			<param name="DatePattern" value=".yyyy-MM-dd"/>
			<param name="StaticLogFileName" value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d - %m%n"/>
			</layout>
		</appender>
		<appender name="IntegralLog" type="log4net.Appender.RollingFileAppender">
			<!--定义文件存放位置-->
			<file value="log\\Integral\\IntegralLog.log"/>
			<param name="AppendToFile" value="true"/>
			<param name="RollingStyle" value="Date"/>
			<param name="DatePattern" value=".yyyy-MM-dd"/>
			<param name="StaticLogFileName" value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d - %m%n"/>
			</layout>
		</appender>
		<logger name="LuckdrawLog">
			<level value="ALL"/>
			<appender-ref ref="LuckdrawLog"/>
		</logger>
		<logger name="IntegralLog">
			<level value="ALL"/>
			<appender-ref ref="IntegralLog"/>
		</logger>
	</log4net>
	<appSettings>
		<!-- 连接字符串是否加密 -->
		<add key="ConStringEncrypt" value="false"/>
		<!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
		<!--<add key="ConnectionString" value="server=127.0.0.1;database=test;uid=root;pwd=shenwei;"/>-->
		<add key="ConnectionString" value="server=home.52softs.com;database=moeotaku;uid=moeotaku;pwd=moeotaku;"/>
		<!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行 CharSet=utf8-->
		<!--<add key="ConnectionString2" value="server=127.0.0.1;database=test;uid=root;pwd=shenwei;" />-->
		<add key="ConnectionString2" value="server=home.52softs.com;database=moeotaku;uid=moeotaku;pwd=moeotaku;"/>
		<!--微信公众号-->
		<add key="appid" value="wx054d8809ef13975c"/>
		<add key="secret" value="7fddee0d697a7dc4b41bef2c6d0b8665"/>
		<add key="token" value="JqWYru3GIoLyuqgzppZPCMM1nvkDaEv9"/>
	</appSettings>
	<system.web>
		<httpRuntime executionTimeout="3600" maxRequestLength="1048576"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
    <customErrors mode="On" defaultRedirect="404.html">
      <error statusCode="404" redirect="404.html"/>
    </customErrors>
    
    
		<identity impersonate="true"/>
		<authentication mode="Forms">
			<forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40">
			</forms>
		</authentication>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False" />
    </defaultProxy>
  </system.net>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0"/>
	</startup>
</configuration>
